
body{
	margin: 0;
	padding: 0;
}
svg{
	margin-top: 10px;
	margin-left:10px;
	border:1px solid black;
}

.grid line{
	stroke-width:2px;
	stroke: #f3f3f3;
}

.axis--x path {
  display: none;
}

text{
 font-size: 10px;
 letter-spacing: 0.5px;
 
 /*font-weight: 800;*/
}
.axis path.domain{
	stroke: #d3d3d3 !important;
}

.majorityline path.domain{
	display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width:2.3px;
  cursor: pointer;
}


.legend .labels{
	font-family: sans-serif;
	letter-spacing: 0.3px;
}

.legend .cls{
	cursor: pointer;
}

.concept text{
 font-size: 10px;
}